@import "variables";
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 737px;
    min-width: 320px;
    background-color: $clp-white-dark;
    @include mq-min-width(map-get($breakpoints, xs)) {
        background-image: url(../images/body-bg.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
    }
    @include mq-min-width(map-get($breakpoints, 2xl)) {
        background-size: 1600px auto;
    }
}

a:link,
a:visited {
    text-decoration: none;
    color: inherit;
    outline: 0;
}

.logo {
    background-image: url(../images/logo.svg);
    background-size: contain;
    @include size(72px, 72px);
    &::hover {
        cursor: pointer;
    }
    @include mq-min-width(map-get($breakpoints, xs)) {
        @include size(60px, 60px);
    }
    @include mq-min-width(map-get($breakpoints, lg)) {
        @include size(68px, 68px);
    }
    @include mq-min-width(map-get($breakpoints, xl)) {
        @include size(72px, 72px);
    }
}

.clp-btn {
    @include clp-btn;
    @include mq-min-width(map-get($breakpoints, lg)) {
        @include size(190px, 50px);
        font-size: 18px;
    }
    @include mq-min-width(map-get($breakpoints, xl)) {
        @include size(234px, 60px);
    }
}
