@import "variables";
@import "mixins";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 737px;
    @include mq-min-width(map-get($breakpoints, xs)) {
        background-image: url(../images/body-bg.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
    }
    background-color: yellow;
}

.clp-btn {
    background-color: map-get($clp-colors, clp-purple);
    width: 234px;
    height: 60px;
    color: map-get($clp-colors, clp-white);
    border: none;
    border-radius: 10px;
    padding: 0;
    outline: inherit;
}

.clp-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


