#post-wrapper {
    position: relative;
    align-self: flex-end;
    margin-bottom: 60px;
    background: #ffffff;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px;
    @include size(100%,auto);
    @include mq-min-width(map-get($breakpoints,xs)) {
        @include size(100%,auto);
        
    }
    @include mq-min-width(map-get($breakpoints,sm)) {
        @include size(90%,auto);
        margin: {
            left:  auto;
            right: auto; 
        }
    }
    @include mq-min-width(map-get($breakpoints,md)) {
        @include size(80%,auto);
        margin: {
            left:  auto;
            right: auto; 
        }
    }
    @include mq-min-width(map-get($breakpoints,lg)) {
        @include size(48%,auto);
        margin: {
            left:  0;
            right: 0; 
        }
    }
    @include mq-min-width(map-get($breakpoints,xl)) {
        @include size(488px,375px);
    }
    p {
        text-align: left;
    }
    #post-response {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        padding: 10px 15px 0;
        z-index: 2;
        color: rgb(0, 34, 128);
        overflow: hidden;
        font-size: 14px;
        text-align: left;
        font-weight: 300;
    }
    #post-btn {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        margin-right: 10px;
        @include size(50px, 50px);
        background-color: $clp-grey-4;
        background-image: url(../images/feature-post-icon-arrow.svg);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 50%;
        &:hover {
            cursor: pointer;
        }
        @include mq-min-width(map-get($breakpoints,xs)) {
            @include size(56px, 56px);
        }
    }
    .feature__post {
        @include flex(column, space-between, center);
        background-color: $clp-white;
        padding: 15% 5% 5% 5%;
        @include mq-min-width(map-get($breakpoints,xs)) {
            padding: 15% 10% 5% 5%;
        }
        @include mq-min-width(map-get($breakpoints,sm)) {
            padding: 10% 10% 5% 5%;
        }
        @include mq-min-width(map-get($breakpoints,md)) {
            padding-right: 15%;
        }
        @include mq-min-width(map-get($breakpoints,lg)) {
            padding: 15% 18% 10% 5%;
        }
        @include mq-min-width(map-get($breakpoints,xl)) {
            padding: 60px 90px 30px 40px;
        }
        #post-text {
            color: $clp-grey-light;
            font-size: 16px;
            @include size(100%,220px);
            padding: {
                right: 18%;
                bottom: 5%;
            }
            @include mq-min-width(map-get($breakpoints,xs)) {
                @include size(85%,170px);
                
                padding: {
                    right: 0;
                    bottom: 20px;
                }
            }
            @include mq-min-width(map-get($breakpoints,sm)) {
                @include size(100%,160px);
                font-size: 16px;
                padding-bottom: 20px;
            }
            @include mq-min-width(map-get($breakpoints,lg)) {
                @include size(100%,180px);
                padding-bottom: 20px;
            }
            @include mq-min-width(map-get($breakpoints,xl)) {
                @include size(360px,180px);
                font-size: 18px;
            }
        }
        .post-box-icon-name-rating {
            @include flex(row, flex-start, center);
            align-self: flex-start;
            @include size(100%,110px);
            @include mq-min-width(map-get($breakpoints,sm)) {
                @include size(80%,110px);
            }
            @include mq-min-width(map-get($breakpoints,md)) {
                @include size(80%,90px);
            }
            @include mq-min-width(map-get($breakpoints,lg)) {
                justify-content: space-between;
            }
            #post-icon-wrapper {
                width: 98px;
                height: 98px;
                #post-icon {
                    width: 98px;
                    height: 98px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                }
            }

            .post-box-name-rating {
                position: relative;
                margin-right: 0;
                padding: {
                    top: 5px;
                    bottom: 5px;
                }
                margin-left: 5%;   
                @include mq-min-width(map-get($breakpoints,lg)) {
                   margin-left: 0; 
                }
                #post-name {
                    height: 30px;
                    font-size: 16px;
                    font-weight: 600;
                    @include mq-min-width(map-get($breakpoints,xs)) {
                        font-size: 18px;
                    }
                }
                .post-rating-text {
                    height: 24px;
                    font-size: 16px;
                    color: $clp-grey-light;
                }
                #post-stars-wrapper {
                    @include flex(row, flex-start, center);
                    height: 15px;
                    font-size: 12px;
                    #post-stars {
                        @include flex(row, space-evenly, center);
                        @include size(85px, 12px);
                        .post-star {
                            background-image: url(../images/post-star.jpg);
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-position: top;
                            @include size(12px, 12px);
                        }
                    }
                }
            }
        }
    }
}

/*Posts preloader*/
#post-overlay {
    position: absolute;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    visibility: hidden;
    #post-preloader {
        position: relative;
        width: 2rem;
        height: 2rem;
        //border: 5px solid #f3f3f3;
        border: {
            top: 6px solid $clp-purple-3;
            right: 6px solid $clp-purple-3;
            bottom: 5px solid #f3f3f3;
            left: 5px solid #f3f3f3;
        }
        border-radius: 100%;
        margin: auto;
        animation: spin 1s infinite linear;
    }
    
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(360deg);
        }
    }
}

