@import "variables";
@import "mixins";

#footer {
    @include clp-section-default;
    @include flex(column, flex-start, center);
    height: 746px;
    background-color: $clp-purple;
    @include text($font-poppins, 16px, 400, $clp-white-dark);
    line-height: 24px;
    @include mq-min-width(map-get($breakpoints, xs)) {
        flex-direction: center;
        background-image: url(../images/footer-bg.jpg);
        background-repeat: no-repeat;
        background-size: 157% 100%;
        background-position: 53% bottom;
        height: 500px;
    }
    @include mq-min-width(map-get($breakpoints, sm)) {
        background-size: 120% 70%;
        background-position: 52% bottom;
    }
    @include mq-min-width(map-get($breakpoints, md)) {
        background-size: 100% 100%;
        background-position: unset bottom;
    }
    #footer-wrapper {
        position: relative;
        @include flex(column, space-between, center);
        @include size(100%, 64%);
        
        // @include mq-min-width(map-get($breakpoints, xs)) {
        //     @include size(100%, 62%);
        //     margin-top: 9%;
        // }
        @include mq-min-width(map-get($breakpoints, sm)) {
            height: 45%;
            margin-top: 27%;
        }
        @include mq-min-width(map-get($breakpoints, md)) {
            height: 38%;
            margin-top: 26%;
        }
        @include mq-min-width(map-get($breakpoints, lg)) {
            height: 45%;
            margin-top: 18%;
        }
        @include mq-min-width(map-get($breakpoints, xl)) {
            margin-top: 9%;
            height: 53%;
        }
        #footer__menu-wrapper {
            background-color: yellow;
            position: relative;
            @include flex(row, space-around, flex-start);
            flex-wrap: wrap;
            @include size(310px, 100%);
            @include mq-min-width(map-get($breakpoints, xs)) {
                @include size(91%, auto);
                margin-left: 3%;
            }
            @include mq-min-width(map-get($breakpoints, sm)) {
                width: 64%;
                margin: {
                    left: 23%;
                    right: auto;
                }
            }
            @include mq-min-width(map-get($breakpoints, md)) {
                @include size(56%, auto);
                margin: {
                    left: auto;
                    right: auto;
                }
            }
            .footer__single-menu-wrapper {
                position: relative;
                @include size(36%, 100%);
                @include mq-min-width(map-get($breakpoints, xs)) {
                    @include size(auto, 100%);
                }
                h3 {
                    font-weight: 500;
                    color: $clp-white;
                    margin-bottom: 10px;
                    @include mq-min-width(map-get($breakpoints, sm)) {
                        font-size: 16px;
                        line-height: 5px;
                    }
                    @include mq-min-width(map-get($breakpoints, md)) {
                        font-size: 18px;
                        line-height: 5px;
                    }
                    @include mq-min-width(map-get($breakpoints, xl)) {
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
                p {
                    cursor: pointer;
                    @include mq-min-width(map-get($breakpoints, sm)) {
                        font-size: 12px;
                        line-height: 18px;
                    }
                    @include mq-min-width(map-get($breakpoints, md)) {
                        font-size: 14px;
                        line-height: 20px;
                    }
                    @include mq-min-width(map-get($breakpoints, xl)) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }
            }
        }

        #footer__social-wrapper {
            background-color: $clp-red;
            position: relative;
            @include flex(row, center, center);
            flex-wrap: wrap;
            @include size(310px, 100%);
            margin: {
                left: auto;
                right: auto;
            }
            @include mq-min-width(map-get($breakpoints, xs)) {
                justify-content: space-between;
                flex-wrap: nowrap;
            }
            @include mq-min-width(map-get($breakpoints, sm)) {
                justify-content: space-around;
            }
            p {
                order: 3;
                font-size: 10px;
                @include mq-min-width(map-get($breakpoints, xs)) {
                    order: 1;
                }
                @include mq-min-width(map-get($breakpoints, sm)) {
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 30px;
                }
            }
            #footer__social-icon-wrapper {
                @include flex(row, space-around, flex-start);
                @include size(73%, 100%);
                //margin-left: 38%;
                order: 2;
                @include mq-min-width(map-get($breakpoints, xs)) {
                    @include size(170px, 100%);
                    margin-left: unset;
                }
                @include mq-min-width(map-get($breakpoints, sm)) {
                    margin-left: unset;
                }
                @include mq-min-width(map-get($breakpoints, md)) {
                    margin-left: 20%;
                }
                @include mq-min-width(map-get($breakpoints, lg)) {
                    margin-left: 34%;
                }
                .social-icon {
                    @include size(36px, 36px);
                    background-repeat: no-repeat;
                    background-size: cover;
                    cursor: pointer;
                }
                #footer__social-1 {
                    background-image: url(../images/footer-icon-1.svg);
                }
                #footer__social-2 {
                    background-image: url(../images/footer-icon-2.svg);
                }
                #footer__social-3 {
                    background-image: url(../images/footer-icon-3.svg);
                }
            }
            #footer__logo-wrapper {
                position: relative;
                @include flex(row, space-between, center);
                @include size(180px, 100%);
                margin-left: 8%;
                order: 1;
                @include mq-min-width(map-get($breakpoints, xs)) {
                    margin-left: unset;
                    order: 3;
                }
                @include mq-min-width(map-get($breakpoints, sm)) {
                    margin-left: unset;
                }
                #footer__logo {
                    @include size(46px, 34px);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url(../images/footer-logo.svg);
                }
                #footer__logo-name {
                    @include size(126px, 100%);
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    background-image: url(../images/logo-name-white.svg);
                }
            }
        }
    }
}
