@import "variables";
@import "mixins";

#form-section {
    @include clp-section-default;
    height: 700px;
    @include text($font-poppins, 18px, 400, $clp-black-green);
    @include mq-min-width(map-get($breakpoints, md)) {
        height: 900px;
    }
    h2 {
        @include text($font-pt, 26px, 400, $clp-black-dark);
        width: 80%;
        max-width: 405px;
        margin: {
            top: 12%;
            left: auto;
            right: auto;
        }
        text-align: center;
        font-size: 36px;
        @include mq-min-width(map-get($breakpoints, md)) {
            width: 34%;
            min-width: 480px;
            max-width: unset;
            margin: {
                top: 11%;
                left: 15%;
                right: unset;
            }
            text-align: left;
            font-size: 48px;
            line-height: 67px;
        }
    }
    #form-wrapper {
        position: relative;
        @include flex(column, flex-start, center);
        @include size(78%, 60%);
        max-width: 430px;
        background: $clp-white;
        box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.4);
        border-radius: 10px;
        margin: {
            top: 5%;
            left: auto;
            right: auto;
        }
        @include mq-min-width(map-get($breakpoints, md)) {
            @include size(44%, 63%);
            min-width: 600px;
            max-width: unset;
            margin: {
                left: 28%;
            }
        }

        #form__overlay {
            position: absolute;
            @include flex(column, flex-start, center);
            top: 0;
            right: 0;
            z-index: 3;
            @include size(100%, 100%);
            background-color: rgba(0, 0, 0, 0.75);
            transition: all 0.2s ease-out;
            #form__overlay-clear {
                position: relative;
                align-self: flex-end;
                @include size(35px, 35px);
                margin: 2%;
                background-image: url(../images/icon-clear-white.svg);
                background-size: cover;
                background-repeat: no-repeat;
                cursor: pointer;
            }
            #form__overlay-text {
                position: relative;
                @include size(80%,auto);
                min-height: 25%;
                background-color: rgba(255, 255, 255, 0.829);
                border-radius: 5px;
                @include text($font-poppins, 16px, 500, $clp-red);
                line-height: 26px;
                text-align: left;
                overflow-wrap: anywhere;
                padding: 4%;
                transition: all 0.5s ease-in;
                @include mq-min-width(map-get($breakpoints, md)) {
                    font-size: 18px;
                }
            }
        }

        #signup {
            @include size(80%,100%);
            & {
                margin: {
                    top: 0;
                    left: auto;
                    right: auto;
                }
                @include mq-min-width(map-get($breakpoints, md)) {
                    @include size(100%,100%);
                    margin: {
                        top: unset;
                        left: 49%;
                        right: unset;
                    }
                }
            }
            
        }

        label {
            display: block;
            font-size: 12px;
            @include mq-min-width(map-get($breakpoints, md)) {
                font-size: 16px;
                line-height: 40px;
            }
        }
        label[for="input-name"] {
            margin-top: 15%;
        }

        input {
            display: block;
            @include size(57%,11%);
            background: #ffffff;
            border: 1px solid $clp-purple-2;
            box-sizing: border-box;
            border-radius: 5px;
            font-size: 18px;
            padding-left: 20px;
            @include mq-min-width(map-get($breakpoints, md)) {
                padding-left: 40px;
            }
            &:hover {
                border: 2px solid $clp-purple-2;
                box-sizing: border-box;
                box-shadow: 0px 20px 40px rgba(149, 149, 201, 0.2);
                border-radius: 10px;
            }
            &::placeholder {
                padding-left: 20px;
                @include text($font-poppins, 14px, 300, $clp-grey);
                @include mq-min-width(map-get($breakpoints, md)) {
                    padding-left: 40px;
                    font-size: 18px;
                }
            }
        }

        #input-name {
            @include size(100%,11%);
            margin: {
                bottom: 10%;
            }
            @include mq-min-width(map-get($breakpoints, md)) {
                @include size(57%,11%);
                margin: {
                    bottom: 5%;
                }
            }
        }    

        .password-wrapper {
            position: relative;
            @include flex(row, flex-start, center);
            @include size(100%,11%);
            margin: {
                bottom: 10%;
            }
            @include mq-min-width(map-get($breakpoints, md)) {
                @include size(57%,11%);
                margin: {
                    bottom: 5%;
                }
            }
        }

        #input-password {
            @include size(100%,100%);
        }
        #eye {
            position: absolute;
            top: 50%;
            right: 1%;
            z-index: 2;
            transform: translateY(-50%);
            @include size(10%,60%);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            color: $clp-purple-2;
            cursor: pointer;
            
        }
        .open-eye {
            background-image: url(../images/eye_1x.png);
        }
        .closed-eye {
            background-image: url(../images/eye_off_1x.png);
        }

        #form-btn {
            background: $clp-purple-2;
            border-radius: 5px;
            font-style: normal;
            font-weight: bold;
            font-size: 12px;
            letter-spacing: 0.05em;
            @include size(50%, 11%);
            margin: {
                top: 0;
                left: auto;
                right: auto;
                bottom: 30px;
            }
            @include mq-min-width(map-get($breakpoints, md)) {
                @include size(31%, 11%);
                font-size: 16px;
                margin: {
                    left: 0;
                    right: 0;
                    bottom: 4%;
                }
            }
        }

        span {
            font-size: 12px;
            @include mq-min-width(map-get($breakpoints, md)) {
                font-size: 18px;
            }
        }

        #signin {
            display: block;
            color: $clp-red;
            font-weight: 500;
            @include hover-text;
            @include mq-min-width(map-get($breakpoints, md)) {
                display: inline;
            }
        }
    }
}
