@import "variables";
@import "mixins";

#header {
    background-color: rgba(255, 0, 0, 0.212);
    @include clp-flex(row, space-between, center);
    margin: 0 auto;
    height: 130px;
    padding: 0 20px 0 11%;
    @include mq-min-width(map-get($breakpoints, xs)) {
        height: 90px;
        padding: 0 20px 0 15%;
    }
    @include mq-min-width(map-get($breakpoints, md)) {
        padding: 0 13% 0 15%;
    }
    @include mq-min-width(map-get($breakpoints, lg)) {
        height: 105px;
    }
    @include mq-min-width(map-get($breakpoints, xl)) {
        height: 116px;
        padding: 0 15% 0 15%;
    }
    @include mq-min-width(map-get($breakpoints, 2xl)) {
        @include clp-size(1600px, 116px);
        padding: 0 245px;
    }

    #logo__container {
        @include clp-flex(row, space-between, center);
        @include clp-size(210px, 100%);
        @include clp-txt($font-roboto, 22px, 400, $clp-black-light);
        @include mq-min-width(map-get($breakpoints, xl)) {
            @include clp-size(225px, auto);
        }

        #logo {
            @include clp-size(60px, 60px);
            &::hover {
                cursor: pointer;
            }
            @include mq-min-width(map-get($breakpoints, lg)) {
                @include clp-size(68px, 68px);
            }
            @include mq-min-width(map-get($breakpoints, xl)) {
                @include clp-size(72px, 72px);
            }
            img {
                @include clp-size(60px, 60px);
                @include mq-min-width(map-get($breakpoints, lg)) {
                    @include clp-size(68px, 68px);
                }
                @include mq-min-width(map-get($breakpoints, xl)) {
                    @include clp-size(72px, 72px);
                }
            }
        }

        #logo-name {
            font-size: 24px;
            &::hover {
                cursor: pointer;
            }
            @include mq-min-width(map-get($breakpoints, xl)) {
                font-size: 24px;
            }
        }
    }

    #main-menu {
        display: none;
        @include mq-min-width(map-get($breakpoints, md)) {
            @include clp-flex(row, space-between, center);
            @include clp-txt($font-poppins, 16px, 500, $clp-black-light-2);
            width: 40%;
            span:hover {
                cursor: pointer;
            }
        }
        @include mq-min-width(map-get($breakpoints, lg)) {
            width: 40%;
            font-size: 18px;
        }
        @include mq-min-width(map-get($breakpoints, xl)) {
            width: 40%;
            font-size: 18px;
            margin-left: 60px;
        }
    }

    .clp-btn {
        display: none;
        @include mq-min-width(map-get($breakpoints, md)) {
            display: block;
            @include clp-btn;
            @include clp-size(150px, 40px);
            @include clp-txt($font-poppins, 14px, 600, $clp-white);
        }
        @include mq-min-width(map-get($breakpoints, lg)) {
            @include clp-size(190px, 50px);
            @include clp-txt($font-poppins, 18px, 600, $clp-white);
        }
        @include mq-min-width(map-get($breakpoints, xl)) {
            @include clp-size(234px, 60px);
        }
    }

    #mobile-menu {
        background-image: url(../images/icon-menu.png);
        background-size: cover;
        @include clp-size(40px, 40px);
        align-self: baseline;
        margin-top: 7px;
        &:hover {
            cursor: pointer;
        }
        @include mq-min-width(map-get($breakpoints, md)) {
            display: none;
        }
    }
}
