@import "variables";
@import "mixins";

#header {
    background-color: $clp-grey-2-transp;
    @include flex(row, space-between, center);
    @include clp-section-default;
    height: 140px;
    padding: 0 7%;
    @include mq-min-width(map-get($breakpoints, xs)) {
        height: 90px;
        padding: 0 7% 0 15%;
    }
    @include mq-min-width(map-get($breakpoints, md)) {
        padding: 0 13% 0 15%;
    }
    @include mq-min-width(map-get($breakpoints, lg)) {
        height: 105px;
    }
    @include mq-min-width(map-get($breakpoints, xl)) {
        height: 116px;
        padding: 0 15%;
    }
    @include mq-min-width(map-get($breakpoints, 2xl)) {
        padding: 0 245px;
    }

    #logo__container {
        @include flex(row, space-between, center);
        @include size(220px, 100%);
        @include text($font-roboto, 22px, 400, $clp-black-light);
        @include mq-min-width(map-get($breakpoints, xs)) {
            @include size(210px, 100%);
        }
        @include mq-min-width(map-get($breakpoints, xl)) {
            @include size(225px, auto);
        }
        #logo-name {
            font-size: 24px;
            &::hover {
                cursor: pointer;
            }
            @include mq-min-width(map-get($breakpoints, xl)) {
                font-size: 24px;
            }
            @include mq-min-width(map-get($breakpoints, xl)) {
                font-size: 24px;
            }
        }
    }

    #main-menu {
        display: none;
        @include mq-min-width(map-get($breakpoints, md)) {
            @include flex(row, space-between, center);
            @include text($font-poppins, 16px, 500, $clp-black-light-2);
            width: 40%;
            span:hover {
                cursor: pointer;
            }
        }
        @include mq-min-width(map-get($breakpoints, lg)) {
            width: 40%;
            font-size: 18px;
        }
        @include mq-min-width(map-get($breakpoints, xl)) {
            width: 40%;
            font-size: 18px;
            margin-left: 60px;
        }
    }

    .clp-btn {
        display: none;
        @include mq-min-width(map-get($breakpoints, md)) {
            display: block;
        }
    }

    #mobile-menu-btn-closed {
        background-image: url(../images/icon-menu.png);
        background-size: cover;
        @include size(40px, 40px);
        align-self: baseline;
        margin-top: 7px;
        &:hover {
            cursor: pointer;
        }
        @include mq-min-width(map-get($breakpoints, md)) {
            display: none;
        }
    }
}

#mobile-menu-overlay {
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    overscroll-behavior: contain;
    display: flex;
    justify-content: flex-end;
    @include size(100%, 100%);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s linear;
    @include mq-min-width(map-get($breakpoints, md)) {
        display: none;
    }

    #mobile-menu__container {
        @include flex(row, flex-end, flex-start);
        @include size(auto, 300px);
        padding-right: 7%;

        #mobile-menu {
            background-color: $clp-grey-2-transp;
            @include text($font-poppins, 25px, 500, $clp-white);
            text-align: center;
            line-height: 50px;
            margin-top: 10px;
            border-radius: 15px;
            p:hover {
                background-color: $clp-grey-2-transp;
                cursor: pointer;
                transition: all 0.2s linear;
            }
            p {
                padding: 0 10px;
            }
        }

        #mobile-menu-btn-open {
            background-image: url(../images/icon-menu-open.png);
            background-size: cover;
            background-color: $clp-grey;
            border-radius: 2px;
            @include size(40px, 40px);
            margin-top: 7px;
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.mobile-menu-noscroll {
    position: fixed;
}
