@import "variables";


@mixin clp-flex($direction,$justify,$align) {
    position: relative;
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
} 

@mixin clp-flex-wrap($wrap,$content) {
    flex-wrap: $wrap;
    align-content: $content;
}

@mixin clp-default-size() {
    position: relative;
    width: map-get($clp-widths, full);
}

@mixin mq-min-width($width) {
    @media all and (min-width: $width) {
        @content;
    }
}

@mixin clp-txt($family,$size,$weight,$color) {
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin clp-size($width,$height) {
    width: $width;
    height: $height;
}

@mixin clp-btn {
    background-color: $clp-purple;
    border: none;
    border-radius: 10px;
    padding: 0;
    outline: inherit;
    cursor: pointer;
}
