@import "variables";
@import "mixins";

#questions {
    @include clp-section-default;
    background-image: url(../images/questions-bg-circle.svg);
    background-size: 800px 1030px;
    background-repeat: no-repeat;
    background-position: 800px top;
    margin-top: 30px;
    @include mq-min-width(map-get($breakpoints, xs)) {
        padding: 0 15%;
    }
    @include mq-min-width(map-get($breakpoints, 2xl)) {
        padding: 0 200px 0 245px;
    }
    #questions-wrapper {
        @include flex(row, space-between, start);
        width: auto;
        min-height: 1500px;
        #questions-box-1 {
            position: relative;
            @include size(50%, auto);
            .questions-title {
                @include size(auto, auto);
                @include text($font-pt, 32px, 400, $clp-black-green);
                padding: {
                    top: 190px;
                    bottom: 131px;
                }
                @include mq-min-width(880px) {
                    font-size: 48px;
                    line-height: 67px;
                }
            }
        }
        #questions-box-2 {
            position: relative;
            background-image: url(../images/questions-bg-2.svg);
            background-size: auto;
            background-repeat: no-repeat;
            padding-top: 770px;
            @include size(50%, auto);
            min-height: (830px);
            @include mq-min-width(map-get($breakpoints, 2xl)) {
                background-position: 0 80px;
            }
            @include mq-min-width(map-get($breakpoints, 2xl)) {
                background-position: -30px 80px;
            }
        }
    }
    #loadQuestionsBtn {
        @include size(100%, 90px);
        margin-bottom: 50px;
    }
}


.single-question {
    width: 550px;
    margin: {
        right: 30px;
        bottom: 12px;
    }
    background: $clp-purple-light;
    box-shadow: 0px 25px 59px rgba(191, 191, 236, 0.72);
    border: solid 1px $clp-purple-3;
    border-radius: 23px;
    @include text($font-poppins, 18px, 300, $clp-black-dark);
    .question-label {
        @include flex(row, space-between, center);
        width: 550px;
        min-height: 90px;
        background-color: $clp-white;
        padding: {
            left: 35px;
            right: 35px;
        }
        border: solid 1px $clp-purple-3;
        box-shadow: 0px 5px 10px #e0e0e0;
        border-radius: 23px;

        .question-text {
            font-weight: 400;
        }
        .answer-arrow {
            @include size(24px, 24px);
            background-image: url(../images/questions-icon-closed.svg);
            background-size: cover;
            background-repeat: no-repeat;
            transition: all 0.4s ease-out;
            cursor: pointer;
        }
    }
    .answer-text {
        height: 0;
        max-height: 180px;
        overflow: scroll;

        margin: {
            left: 35px;
            right: 35px;
        }
        transition: all 0.4s ease-out;
    }
}

.visible-answer {
    margin: {
        top: 35px;
        bottom: 35px;
    }
}

.rotate-arrow {
    transform: rotate(90deg);
}
