@import "variables";
@import "mixins";

#services {
    @include clp-section-default; 
    @include text($font-poppins,18px,400,$clp-black-green);
    line-height: 20px;
    padding: 50px 7% 0; 
    @include mq-min-width(map-get($breakpoints,xs)) {
        padding: {
            left: 15%;
            right: 15%;
        }
    }
    @include mq-min-width(880px) {
        padding-top: 100px;
    }
    @include mq-min-width(map-get($breakpoints,md)) {
        padding-top: 140px;
    }
    @include mq-min-width(map-get($breakpoints,lg)) {
        padding: 170px 10% 0;
    }
    @include mq-min-width(map-get($breakpoints,2xl)) {
        padding: 180px 245px 0;
    }
    article {
        margin: 0 auto;
        @include mq-min-width(880px) {
            text-align: center;
            max-width: 746px;
        }
        @include mq-min-width(map-get($breakpoints,2xl)) {
            
        }
    }
    h2 {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 30px;
        @include mq-min-width(map-get($breakpoints,md)) {
            font-size: 26px;
            font-weight: 500;
            line-height: 39px;
            margin-bottom: 20px;
        }
    }
    #services p {
        margin-bottom: 10px;
        @include mq-min-width(map-get($breakpoints,md)) {
            font-weight: 400;
            line-height: 40px;
        }
    }
    .services__cards-wrapper {
        text-align: center;
        font-size: 16px;
        margin-top: 80px;
        @include mq-min-width(map-get($breakpoints,md)) {
            @include flex(row,space-between,center);
            @include flex-wrap(wrap,center);
            padding: 0 5%;
        }
        @include mq-min-width(map-get($breakpoints,lg)) {
            padding: {
                left: 15%;
                right: 15%
            }
        }
        @include mq-min-width(map-get($breakpoints,xl)) {
            padding: {
                left: 20%;
                right: 20%
            }
        }
        @include mq-min-width(map-get($breakpoints,2xl)) {
            padding: 0;
            margin-top: 100px;
        }
        .services__cards {
            @include size(261px,250px);
            margin: 30px auto 0;
            &:hover {
                cursor: pointer;
                border: solid 1.1px $clp-grey-light;
                border-bottom: solid 5px;
                border-radius: 5px;
            }
            @include mq-min-width(map-get($breakpoints,lg)) {
                margin: {
                    left: 20px;
                    right: 20px;
                }
            }
            @include mq-min-width(map-get($breakpoints,2xl)) {
                margin: {
                    left: 0;
                    right: 0;
                }
            }
            .icon {
                @include size(65px,65px);
                margin: 23px auto;
                background-size: contain;
                background-repeat: no-repeat;
            }
            #service__cards-icon-1 {
                background-image: url(../images/services-icon-design.svg);
            }
            #service__cards-icon-2 {
                background-image: url(../images/services-icon-doctor.svg);
            }
            #service__cards-icon-3 {
                background-image: url(../images/services-icon-package.svg);
            }
            #service__cards-icon-4 {
                background-image: url(../images/services-icon-write.svg);
            }
            .services__cards-title {
                font-size: 22px;
                font-weight: 500px;
                line-height: 40px;
                margin-bottom: 12px;
            }
        }
    }
    .services__peaple-wrapper {
        @include mq-min-width(map-get($breakpoints,2xl)) {
            @include flex(row,space-between,center);
            @include flex-wrap(wrap,center);
        }
        article {
            @include mq-min-width(map-get($breakpoints,2xl)) {
                width: 500px;
                padding-bottom: 30px;
                text-align: left;
            }
            h2 {
                margin-top: 60px;
                @include mq-min-width(map-get($breakpoints,sm)) {
                    margin-top: 80px;
                }
                @include mq-min-width(map-get($breakpoints,2xl)) {
                    width: 493px;
                }
            }
            p {
                @include mq-min-width(map-get($breakpoints,2xl)) {
                    width: 450px;
                }
            }
        }
        .services__peaple-img {
            @include mq-min-width(map-get($breakpoints,sm)) {
                @include size(579px,338px);
                background-image: url(../images/services-peaple-bg.svg);
                background-size: contain;
                background-repeat: no-repeat;
                margin: 70px auto 0;
            }
            @include mq-min-width(map-get($breakpoints,2xl)) {
                margin-top: 60px;
            }
        }
 
    }
}
