 @import "./variables";

/* Text colors */

.clp-c-black-dark {
    color: map-get($clp-colors, clp-black-dark);
}

.clp-c-black-light {
    color: map-get($clp-colors, clp-black-light);
}

.clp-c-black-green {
    color: map-get($clp-colors, clp-black-green);
}

.clp-c-white-dark {
    color: map-get($clp-colors, clp-white-dark);
}    

.clp-c-white {
    color: map-get($clp-colors, clp-white);
}    

.clp-c-grey-dark {
    color: map-get($clp-colors, clp-grey-dark);
}

.clp-c-grey-light {
    color: map-get($clp-colors, clp-grey-light);
}

.clp-c-grey {
    color: map-get($clp-colors, clp-grey);
}    

.clp-c-grey-2 {
    color: map-get($clp-colors, clp-grey-2);
}    

.clp-c-red {
    color: map-get($clp-colors, clp-red);
}


/* Background color */

.clp-bg-transparent {
    background-color: map-get($clp-colors, clp-transparent);
}

.clp-bg-grey-2-transp {
    background-color: map-get($clp-colors, clp-grey-2-transp);
} 

.clp-bg-pink {
    background-color: map-get($clp-colors, clp-pink);
}

.clp-bg-purple-light {
    background-color: map-get($clp-colors, clp-purple-light);
}

.clp-bg-purple {
    background-color: map-get($clp-colors, clp-purple);
}

.clp-bg-purple-2 {
    background-color: map-get($clp-colors, clp-purple-2);
}