@import "./variables";

.none {
    display: none;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: all .6s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: $clp-default-transition;
}

.hidden-notransition {
    visibility: hidden;
    opacity: 0;
}

.transition {
    transition: $clp-default-transition;
}
