@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=PT+Serif&family=Poppins:wght@300;400;500;600&family=Rammetto+One&family=Roboto&family=Rubik:wght@700&display=swap");

$clp-transparent: transparent;
$clp-black-dark: #402b2b;
$clp-black-light: #505050;
$clp-black-light-2: #717784;
$clp-black-green: #626780;
$clp-white-dark: #e5e5e5;
$clp-white: #ffffff;
$clp-grey-dark: #696a86;
$clp-grey-light: #9d9d9d;
$clp-grey: #c8c8c8;
$clp-grey-2: #c4c4c4;
$clp-grey-2-transp: #c4c4c41c;
$clp-purple: #9b9bca;
$clp-purple-2: #9595c9;
$clp-purple-light: #f5f5ff;
$clp-red: #f01f35;
$clp-pink: #ffedef;

$font-rammetto: "Rammetto One", cursive;
$font-dm: "DM Serif Display", serif;
$font-poppins: "Poppins", sans-serif;
$font-pt: "PT Serif", serif;
$font-roboto: "Roboto", sans-serif;
$font-rubik: "Rubik", sans-serif;

$breakpoints: (
    xs: 576px,
    sm: 768px,
    md: 992px,
    lg: 1200px,
    xl: 1440px,
    2xl: 1600px,
);

$clp-default-transition: all 0.3s linear;
$clp-default-border: solid 3px;
$clp-widths: (
    full: 100%,
    half: 50%,
    third: 33.33333%,
);
