$clp-colors: (
    clp-transparent: transparent,
    clp-black-dark: #402B2B,
    clp-black-light: #505050,
    clp-black-green: #626780,
    clp-white-dark: #E5E5E5,
    clp-white: #FFFFFF,
    clp-grey-dark: #696A86,
    clp-grey-light: #9D9D9D,
    clp-grey: #C8C8C8,
    clp-grey-2: #C4C4C4,
    clp-purple: #9B9BCA,
    clp-purple-2: #9595C9,
    clp-purple-light: #F5F5FF,
    clp-red: #F01F35
    clp-pink: #FFEDEF
);

$font-rammetto: 'Rammetto One', cursive;
$font-dm: 'DM Serif Display', serif;
$font-poppins: 'Poppins', sans-serif;
$font-pt: 'PT Serif', serif;
$font-roboto: 'Roboto', sans-serif;
$font-rubik: 'Rubik', sans-serif;
