@import "variables";
@import "mixins";

#play-video {
    @include clp-section-default;
    height: 530px;
    padding-top: 18%;
    @include mq-min-width(map-get($breakpoints, xs)) {
        height: 700px;
        padding-top: 15%;
    }
    @include mq-min-width(map-get($breakpoints, sm)) {
        height: 900px;
        padding-top: 13%;
    }
    @include mq-min-width(map-get($breakpoints, md)) {
        height: 1100px;
        padding-top: 13%;
    }
    @include mq-min-width(map-get($breakpoints, lg)) {
        height: 1600px;
        padding-top: 13%;
    }

    p {
        @include text($font-pt, 32px, 400, $clp-black-green);
        text-align: center;
        line-height: 38px;
        max-width: 320px;
        margin: 0 auto;
        @include mq-min-width(map-get($breakpoints, sm)) {
            font-size: 40px;
            max-width: 420px;
        }
        @include mq-min-width(map-get($breakpoints, md)) {
            font-size: 48px;
            line-height: 67px;
            text-align: left;
            max-width: 750px;
            padding-left: 15%;
            margin: unset;
        }
    }
    #video-wrapper {
        position: relative;
        @include size(100%, auto);
        top: 6%;
        #video {
            position: relative;
            @include size(100%, auto);
        }

        #video-overlay {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }
}

.video-overlay-poster {
    @include size(100%, 100%);
    background-color: $clp-white;
    background-image: url(../images/video-poster.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

#icon-video {
    position: absolute;

    z-index: 3;
    @include size(40px, 40px);
    background-size: cover;
    background-repeat: no-repeat;
    &:hover {
        cursor: pointer;
    }
    @include mq-min-width(map-get($breakpoints, xs)) {
        @include size(60px, 60px);
    }
    @include mq-min-width(map-get($breakpoints, sm)) {
        @include size(80px, 80px);
    }
    @include mq-min-width(map-get($breakpoints, md)) {
        @include size(100px, 100px);
    }
    @include mq-min-width(map-get($breakpoints, lg)) {
        @include size(130px, 130px);
    }
    @include mq-min-width(map-get($breakpoints, xl)) {
        @include size(160px, 160px);
    }
    @include mq-min-width(map-get($breakpoints, 2xl)) {
        @include size(180px, 180px);
    }
}

.icon-play {
    background-image: url(../images/video-icon-play.svg);
    top: 34%;
    left: 44.5%;
}

.icon-stop {
    background-image: url(../images/video-icon-stop.svg);
    top: 34%;
    left: 1%;
}
