/* Text colors */

.clp-c-black-dark {
    color: map-get($clp-black-dark: #402B2B);
}

.clp-c-black-light {
    color: map-get($clp-black-light: #505050);
}

.clp-c-black-green {
    color: map-get($clp-black-green: #626780);
}

.clp-c-white-dark {
    color: map-get($clp-white-dark: #E5E5E5);
}    

.clp-c-white {
    color: map-get($clp-white: #FFFFFF);
}    

.clp-c-grey-dark {
    color: map-get($clp-grey-dark: #696A86);
}

.clp-c-grey-light {
    color: map-get($clp-grey-light: #9D9D9D);
}

.clp-c-grey {
    color: map-get($clp-grey: #C8C8C8);
}    

.clp-c-grey-2 {
    color: map-get($clp-grey-2: #C4C4C4);
}    

.clp-c-red {
    color: map-get($clp-red: #F01F35);
}


/* Background color */

.clp-bg-transparent {
    color: map-get($clp-colors, clp-transparent);
}

.clp-bg-grey-2-transp {
    color: map-get($clp-grey-2: rgba(196, 196, 196, 0.103));
} 

.clp-bg-pink {
    color: map-get($clp-pink: #FFEDEF);
}

.clp-bg-purple-light {
    color: map-get($clp-purple-light: #F5F5FF)
}

.clp-bg-purple {
    color: map-get($clp-purple: #9B9BCA)
}

.clp-bg-purple-2 {
    color: map-get($clp-purple-2: #9595C9)
}