
body {
    background-color: rgb(222, 255, 101);
}
#drago {
    position: relative;
    width: 200px;
    height: 100px;
    background-image: url(./assets/images/cyberdrago16_9.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
#bg {
    position: relative;
    width: 200px;
    height: 100px;
    background-image: url(./assets/images/dragocyberfinale16_9.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}